<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<style>
    * {
font-family: 'Roboto', sans-serif;
    }

    p{
    text-align: center;
    margin: 12px;
    margin-top: 0;
    }
</style>


<table cellspacing="0">

<% @items.each_slice(5) do |item_group| %>
    <tr>
        <% item_group.each do |item| %>
            <td style="border: 1px black dashed">
                <h1 style="text-align: center; vertical-align: top; margin: 12; margin-bottom: 0;"> $<%= sprintf "%.2f", item.price_cents / 100.0 %> </h1>
                
                <% if item.use_qr %>
                    <% qrcode = RQRCode::QRCode.new(item_url(item), mode: :byte_8bit) %>
                    <div style="text-align: center;" >
                        <img src="<%= qrcode.as_png(size:100,border_modules: 2, color: 'black').to_data_url %>" />
                    </div>
                    <p style="font-size: 8;">Scan this code <br> for more info</p>
                <% end %>

                <p> <%= item.title %> </p>

        <% end %>
    </tr>
<% end %>

</table>
